* {
  box-sizing: border-box; }

body {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  background-color: #ccc; }

body.home {
  background-image: url("../images/home.webp"); }

body,
html {
  margin: 0;
  height: 100%; }

.wrapper {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden; }

.navigation {
  position: absolute;
  top: 0;
  right: 0;
  width: 82%;
  z-index: 10;
  height: 100%; }

.load_screen {
  background-color: #000;
  position: absolute;
  z-index: 10;
  height: 100%;
  width: 100%; }

.title {
  font-size: 35px;
  color: #fff; }

.logo {
  width: 150px;
  height: auto; }

.horizontal_logo {
  width: 280px;
  height: auto; }

.social_media {
  float: right; }
  .content .social_media {
    margin: 0;
    padding: 0; }
  .social_media li {
    float: left;
    margin-right: 10px;
    list-style: none; }
  .social_media .twitter {
    background-image: url(../../public/images/twitter.png);
    background-size: 100% 100%;
    height: 50px;
    width: 50px;
    position: relative;
    display: block; }
    .social_media .twitter.blue {
      background-image: url(../../public/images/twitter_blue.png); }
  .social_media .facebook {
    background-image: url(../../public/images/facebook.png);
    background-size: 100% 100%;
    height: 50px;
    width: 50px;
    position: relative;
    display: block; }
    .social_media .facebook.blue {
      background-image: url(../../public/images/facebook_blue.png); }
  .social_media .linkedin {
    background-image: url(../../public/images/linkedin.png);
    background-size: 100% 100%;
    height: 50px;
    width: 50px;
    position: relative;
    display: block; }
    .social_media .linkedin.blue {
      background-image: url(../../public/images/linkedin_blue.png); }
  .social_media .youtube {
    background-image: url(../../public/images/youtube.png);
    background-size: 100% 100%;
    height: 50px;
    width: 50px;
    position: relative;
    display: block; }
    .social_media .youtube.blue {
      background-image: url(../../public/images/youtube_blue.png); }

.title_and_social {
  border-bottom: 2px dotted #fff;
  float: left;
  width: 100%;
  padding-bottom: 5px;
  margin-top: 10px;
  color: #fff;
  text-transform: uppercase; }

.donate_btn {
  float: right;
  color: #fff;
  margin-top: 10px;
  font-size: 18px; }

.tagline {
  margin-top: 10px;
  color: #fff;
  display: inline-block;
  font-size: 18px; }

.page {
  position: relative;
  overflow: hidden; }

.sub_page {
  border-left: 5px solid #fff;
  display: table;
  float: right;
  width: 80px;
  height: 100%;
  background-color: rgba(73, 154, 255, 0.54);
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
  -webkit-transition: all .8s ease;
  -moz-transition: all .8s ease;
  -o-transition: all .8s ease;
  -ms-transition: all .8s ease;
  transition: all .8s ease; }
  .sub_page.full_page {
    width: 100%; }
  .sub_page .title {
    position: relative;
    display: table-cell;
    font-size: 42px;
    left: 0px;
    text-transform: uppercase;
    cursor: pointer;
    width: 70px;
    height: 100%;
    top: 20px;
    text-align: center; }
    .sub_page .title p {
      -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
      writing-mode: vertical-lr;
      text-orientation: sideways-right; }
  .sub_page#store {
    right: 210px; }
  .sub_page#resources {
    right: 140px; }
  .sub_page#about {
    right: 70px; }
  .sub_page#contact {
    right: 0; }
  .sub_page .sub_page_nav_links {
    margin-top: 15px;
    border-bottom: 2px solid #00B4FF;
    padding-bottom: 10px; }
    .sub_page .sub_page_nav_links li {
      float: left;
      list-style: none;
      margin-right: 7%;
      position: relative; }
      .sub_page .sub_page_nav_links li:after {
        content: "//";
        position: absolute;
        right: -38px;
        top: 0; }
      .sub_page .sub_page_nav_links li:last-of-type:after {
        content: none; }
      .sub_page .sub_page_nav_links li a {
        color: #555; }
  .sub_page .sub_page_sub_title {
    color: #F58820; }
  .sub_page .sub_page_content_title {
    background-image: url(../../public/images/title_bg.png);
    background-size: cover;
    text-align: center;
    font-size: 80px;
    font-weight: bolder;
    padding: 10px 0 0 0; }
    .sub_page .sub_page_content_title h1 {
      color: #fff;
      font-size: 80px;
      font-size: 80px;
      font-weight: bold;
      margin-bottom: -20px; }

.content {
  opacity: 0;
  margin: 0 auto;
  max-width: 95%;
  padding-top: 10px; }

.content_wrapper {
  width: 100%;
  height: 100%;
  transition: opacity ease-out 1s;
  display: table-cell;
  vertical-align: top; }
  .full_page .content_wrapper {
    background-color: #fff;
    top: 0;
    left: 0;
    position: relative; }

#home {
  width: inherit;
  height: inherit;
  background-size: cover; }

#sitemap {
  position: absolute;
  bottom: 0;
  z-index: 11;
  left: 45px;
  width: 90%;
  height: 340px;
  margin-bottom: -340px;
  background: #fff;
  -webkit-transition: all .8s ease;
  -moz-transition: all .8s ease;
  -o-transition: all .8s ease;
  -ms-transition: all .8s ease;
  transition: all .8s ease;
  padding: 20px 30px; }
  #sitemap .site_map_button {
    background-color: #00B4FF;
    color: #fff;
    width: 190px;
    height: 50px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    position: relative;
    margin-top: -70px;
    text-align: center;
    font-size: 20px;
    line-height: 60px;
    text-indent: -20px;
    margin-left: -30px; }
    #sitemap .site_map_button:after {
      border-style: solid;
      border-width: 0.11em 0.11em 0 0;
      content: '';
      display: inline-block;
      height: 0.95em;
      left: 1em;
      position: relative;
      top: 1.2em;
      transform: rotate(-45deg);
      vertical-align: top;
      width: 0.95em; }
  #sitemap .sitemap_wrapper {
    height: 97%;
    padding-top: 18px;
    -webkit-transition: opacity .8s;
    -moz-transition: opacity .8s;
    -o-transition: opacity .8s;
    -ms-transition: opacity .8s;
    transition: opacity .8s;
    font-size: 13px; }
    #sitemap .sitemap_wrapper h4 {
      color: #069ad8;
      margin-bottom: 4px; }
    #sitemap .sitemap_wrapper ul {
      margin: 0;
      padding: 0;
      color: #444;
      font-size: 12px; }
      #sitemap .sitemap_wrapper ul li {
        list-style: none;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        font-smoothing: antialiased; }
    #sitemap .sitemap_wrapper .map {
      margin-top: 10px; }
    #sitemap .sitemap_wrapper.full_opacity {
      opacity: 100; }
    #sitemap .sitemap_wrapper .border_right:after {
      width: 1px;
      height: 98%;
      position: absolute;
      content: "";
      top: 0;
      right: 15px;
      background-color: #888; }
  #sitemap .contact_info .phone {
    color: #555;
    font-size: 25px;
    margin: 0; }
  #sitemap .buttons, #sitemap .driving_btn, #sitemap .newsletter_btn {
    color: #fff;
    padding: 10px 10px;
    border-radius: 5px;
    border-width: 0;
    margin-top: 10px;
    line-height: 16px;
    font-size: 12px; }
  #sitemap .driving_btn {
    color: #fff;
    background-color: #3F92DD; }
  #sitemap .newsletter_btn {
    background-color: #777879; }
  #sitemap .copyright_credits {
    width: inherit;
    border-top: 1px solid #999;
    margin-top: 10px;
    padding: 15px 10px 0 0;
    font-size: 12px;
    color: #444;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased; }

.transform-active {
  margin-bottom: 0px !important; }

.donate_newsletter_links {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 17px;
  margin-top: 10px; }
  .donate_newsletter_links #donate_now_link {
    color: #00B4FF;
    line-height: 50px; }
  .donate_newsletter_links #newsletter_link {
    color: #F58820; }
